[general]
redirect_uri      = https://127.0.0.1:18089
local_server_auth = true
log_level         = debug

[server outlook.office365.com]
imap_host = outlook.office365.com
imap_port = 993
smtp_host = smtp.office365.com
smtp_port = 587
ssl = true
starttls = true

[account sales@thekpsgroup.com]
client_id = fbab4542-c890-4455-bb78-f0ce5e3e17e9
client_secret = YOUR_CLIENT_SECRET_HERE
tenant    = 6627d97c-a18f-487c-bb7a-d0d6e1640a28
username  = sales@thekpsgroup.com
server    = outlook.office365.com
scope     = https://graph.microsoft.com/IMAP.AccessAsUser.All https://graph.microsoft.com/SMTP.Send offline_access
